<%= form_with model: [@book,@book_comment],remote: true do |f| %>
<% if @book_comment.errors.any? %>
		<div id="error_explanation">
			<h3><%= @book_comment.errors.count %>error prohibited this obj from being saved:</h3>
			<ul>
				<% @book_comment.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
				<% end %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_area :comment, rows:'5', class: "form-control", id: "comment_comment", placeholder: "コメントをここに" %>
    </div>
  </div>
  <%= f.submit "送信", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>